
      <div class="section-header text-center treatment">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        <div class="side-nav">
          <ul>
            <li class="btn-link"><a href="/pages/prostate-biopsy">Prostate<br>Biopsy<br></a><div>▶</div> </li>
            <li class="btn-link"><a href="/pages/brachytherapy">LDR Brachytherapy<br>Procedure</a><div>▶</div> </li>
             <li class="btn-link"><a href="/pages/focal-therapy">Focal<br>Therapy<br></a><div>▶</div> </li>
            <li class="btn-link"><a href="/pages/active-surveillance">Active<br>Surveillance<br></a><div>▶</div> </li>
            <li class="btn-link"><a href="/pages/faq">Frequently Asked<br>Questions<br></a><div>▶</div> </li>
            <li class="btn-link"><a href="/pages/myths">Common<br>Myths<br></a><div>▶</div> </li>

          </ul>
          <div class="appoint-side-nav">
            <div class="btn-link white">Make an Appointment</div>
            <p>Schedule an in-person consultation with a prostate cancer specialist.</p>
            <h3>Questions? Call us!</br>
            (630) 654-2515</h3>
         
          </div>
        </div>
        <div class="main-text">
        {{ page.content }}
        </div>
      </div>

<script>
window.addEventListener("hashchange", function () {
    window.scrollTo(window.scrollX, window.scrollY - 200);
});
</script>